<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	   default-lazy-init="true">

	<description>Spring公共配置 </description>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:/application.properties</value>
            </list>
        </property>
        <property name="systemPropertiesMode" value="2"></property>
    </bean>
    
    <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.ruisitech.bi.service">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>


	<!-- 使用dubbo发布服务 -->
	<!-- 提供方应用信息，用于计算依赖关系  address为linux ip地址 安装zookeeper-->
<!--	<dubbo:application name="rsbi" />
	<dubbo:registry protocol="zookeeper" address="192.168.188.128:2181" />
	&lt;!&ndash; 用dubbo协议在20880端口暴露服务 &ndash;&gt;
	<dubbo:protocol name="dubbo" port="20880" />
	&lt;!&ndash; 声明需要暴露的服务接口 &ndash;&gt;
	<dubbo:service interface="com.ruisitech.bi.service.AreaService" ref="areaServiceImpl" timeout="300000"/>-->

	<!-- 引用dubbo服务 -->
	<dubbo:application name="dubbo"/>
	<dubbo:registry protocol="zookeeper" address="172.16.5.113:2181"/>
	<dubbo:reference interface="com.zcy.zcmorefun.dubbo.service.DubheMetaService" check="false"
					 protocol="dubbo" id="dubheMetaService" />

</beans>