<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd



		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
       default-lazy-init="true">

    <description>持久层</description>

    <!-- 数据源配置, alibaba druid JDBC连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <property name="defaultAutoCommit" value="true"/>

        <!-- Connection Pooling Info -->
        <property name="initialSize" value="${jdbc.pool.minIdle}" />
        <property name="maxActive" value="${jdbc.pool.maxActive}"/>
        <property name="minIdle" value="${jdbc.pool.minIdle}"/>
        <property name="maxWait" value="${jdbc.pool.maxWait}"/>
        <property name="minEvictableIdleTimeMillis" value="${jdbc.pool.minEvictableIdleTimeMillis}"/>
        <property name="removeAbandoned" value="${jdbc.pool.removeAbandoned}"/>
        <property name="removeAbandonedTimeout" value="${jdbc.pool.removeAbandonedTimeout}"/>
        <!-- 自动重连配置
        <property name="testWhileIdle" value="true"/> 
        <property name="validationQuery" value="select 1"/> 
         -->
    </bean>

    <!-- 数据源配置,使用应用服务器的数据库连接池 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <bean id="daoHelper" class="com.ruisi.ext.engine.dao.DaoHelperImpl">
   		<property name="jdbcTemplate">
    		<ref bean="jdbcTemplate" />
   		</property>
  	</bean>

    <!--rsbi-->
    <bean id="daoRsbiHelper" class="com.ruisi.ext.engine.dao.DaoRsbiHelper">
    </bean>

    <!-- MyBatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.ruisitech.bi.entity"/>
        <property name="configLocation" value="classpath:application-mybatis-configuration.xml"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations">
        	<!--切换数据库类型后，需要修改此处的配置文件，使用对应的数据库类型下的mapper文件-->
            <array>
                <value>classpath*:/mybatis/*.xml</value>
                 <value>classpath*:/mybatis/*/*.xml</value>
            </array>
        </property>
        <property name="plugins">
             <array>  
                <bean class="com.github.pagehelper.PageInterceptor">  
                    <property name="properties">  
                        <value>  
                            helperDialect = mysql
                        </value>  
                    </property>  
                </bean>  
            </array>  
        </property>
    </bean>
    
      <!-- 扫描basePackage下所有 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ruisitech.bi.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    
    <!-- 事物控制 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true" /> 
	
	<!-- 数据权限bean -->
	<bean class="com.ruisitech.ext.service.DataControlImpl" name="dataControl"></bean>

</beans>
